body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/basket.png);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Josefin Slab", serif;
}
.container {
  max-width: 1000px;
  max-height: 1000px;
  background: rgba(17, 54, 75, 0.9);
  border-radius: 12px;
  border: 3px solid white;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 68px 82px;
  gap: 100px;
  box-shadow: 0px 0px 3px black;
  margin-top: 9rem;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col-heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  min-height: 50px;
  color: white;
}
.col-display {
  width: 155px;
  height: 120px;
  background: rgb(16, 49, 69);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  color: rgb(238, 11, 56);
}
.col-points {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}
.add {
  width: 100%;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: white;
  line-height: 35px;
  background: transparent;
}
.changeNameHome,
.setScoreHome,
.changeNameGuest,
.setScoreGuest {
  width: 90px !important;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: white;
  background: transparent;
}
.remove {
  width: 100%;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: white;
  line-height: 35px;
  background: transparent;
}
.timer {
  background-color: rgb(16, 49, 69);
  color: rgb(238, 11, 56);
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3.5rem;
  font-size: 45px;
  font-weight: 400;
}
